body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: 100vw;
}

*{
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    margin: 30px 5px;
}

table,tr,td,th{
    border-collapse: collapse;
    border: 2px solid rgba(0, 0, 0, 0.705);
    padding: 15px 15px;
    text-align: center;
}